<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Instructors</title>
</head>
<body>
<div layout:fragment="content1">
  <div class="container mt-3">
    <div class="card-header">List of Instructors</div>
    <div class="card-body">
      <form method="get" th:action="@{index}">
        <label>Keyword</label>
        <input type="text" name="keyword" th:value="${keyword}">
        <button type="submit" class="btn btn-primary">Search</button>
        <table class="table mt-3">
          <thead>
          <tr class="text-center">
            <th>Instructor ID</th>
            <th>Instructor First Name</th>
            <th>Instructor Last Name</th>
            <th>Instructor Summary</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-center" th:each="instructor:${listInstructors}">
            <td th:text="${instructor.getInstructorId()}"></td>
            <td th:text="${instructor.getFirstName()}"></td>
            <td th:text="${instructor.getLastName()}"></td>
            <td th:text="${instructor.getSummary()}"></td>
            <td>
              <a onclick="return confirm('Are you sure?')" class="btn btn-danger" th:href="@{/instructors/delete(instructorId=${instructor.getInstructorId()}, keyword=${keyword})}">Delete</a>
            </td>
            <td>
              <a class="btn btn-info" th:href="@{/courses/instructor(instructorId=${instructor.getInstructorId()})}">Courses</a>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
</body>
</html>