<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template">
<head>
    <title>Courses</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-3">
        <div class="card">
            <div class="card-header">List of courses</div>
            <div class="card-body">
                <form method="get" th:action="@{index}">
                    <label>keyword</label>
                    <label>
                        <input type="text" name="keyword" th:value="${keyword}">
                    </label>
                    <button type="submit" class="btn btn-primary">Search</button>
                    <table class="table">
                        <thead>
                        <tr class="text-center">
                            <th>Course ID</th>
                            <th>Course Name</th>
                            <th>Course Duration</th>
                            <th>Course Description</th>
                            <th>Instructor</th>
                            <th>Number Of Participants</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center" th:each="course:${listCourses}">
                            <td th:text="${course.getCourseId()}"></td>
                            <td th:text="${course.getCourseName()}"></td>
                            <td th:text="${course.getCourseDuration()}"></td>
                            <td th:text="${course.getCourseDescription()}"></td>
                            <td th:text="${course.getInstructor().getFirstName() + ' ' + course.getInstructor().getLastName()}"></td>
                            <td th:text="${course.getStudents().size()}"></td>
                            <td>
                                <a class="btn btn-danger" onclick="return confirm('Are you sure?')" th:href="@{/courses/delete(courseId=${course.getCourseId()}, keyword=${keyword})}">Delete</a>
                            </td>
                            <td>
                                <a class="btn btn-success" th:href="@{/courses/formUpdate(courseId=${course.getCourseId()})}">Update</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
 </body>
</html>